@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.hero-section {
    background-image: url('./assets/Images/backdrop2.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    /* background-size: max(1550px, 100vw) cover; */
    margin: auto;
    position: relative;
    height: 100vh; 
    cursor: default;
}

.hero-img{
    box-shadow: 20px 0px 20px 8px #883aea, -23px 0px 20px 8px #a12345;
}

.started{
    background-color: #000212;
}

.underline-hover {
    position: relative;
    text-decoration: none;
}

.underline-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ff70bd;
    transition: width 0.3s ease;
}

.underline-hover:hover::after {
    width: 100%;
}

.main-btn {
    transition: all 0.3s;
}

.main-btn:hover {
    box-shadow: inset -1px -1px 20px 8px rebeccapurple;
    border: 1px solid rebeccapurple;
}

button:hover .fa-arrow-right {
    animation: rotateThenMove 0.4s ease forwards;
}

@keyframes rotateThenMove {
    0% {
        transform: rotate(0deg) translateX(0);
    }

    50% {
        transform: rotate(360deg) translateX(0);
    }

    100% {
        transform: rotate(360deg) translateX(5px);
    }
}

button:hover .fa-angle-right {
    transform: translateX(30px);
    transition: all 0.25s linear;
}

.welcome-box {
    padding: 15px;
    box-shadow: -7px -6px 11px 0px rebeccapurple, 3px 3px 11px 0px #01ee91;
}

.review-box{
    background: radial-gradient(circle, #272750, #000212);
}
.bottom-logo{
    cursor: pointer;
    transition: all 0.2s;
}
.bottom-logo:hover{
    filter: drop-shadow(0px 0px 33px #ee0181) brightness(2)
}

.scroll-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    display: none;
    background-color: #31194b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #7f44b9;
}

@media (max-width: 500px) {
    body{
        padding: 0 10px;
    }
}
